<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="css/style.css" />
		<title>Sticky Notes App</title>
		<style>
			/* Add animation to the text */
			h3 {
				margin: 0;
				animation: shake 0.5s ease-in-out 1s infinite alternate;
			}

			/* Keyframes for the animation */
			@keyframes shake {
				from {
					transform: translateX(-20px);
				}
				to {
					transform: translateX(20px);
				}
			}
		</style>
	</head>
	<body>
		<div class="container">
			<h1>Sticky Notes App</h1>

			<div class="img-container">
				<img src="/images/404.gif" alt="Sticky Notes App" />
			</div>

			<div class="features">
				<div class="feature" style="background-color: aqua">
					<h3>404 NOT FOUND</h3>
					<p>We're sorry, the page you requested cannot be found.</p>
				</div>
			</div>
		</div>
	</body>
</html>
